<app-navigation></app-navigation>
<br>
<br>
<h3 class="text-center">Contact</h3>

<div class="container">
  <form class="">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Nombre</label>
      <input type="text" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Correo</label>
      <input type="email" class="form-control" id="exampleInputPassword1">
    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Información</label>
        <textarea class="form-control" name="" id="" rows="3"></textarea>
      </div>
    
    <button type="submit" class="btn btn-primary text-center">Enviar</button>
  </form>
</div>


<app-footer></app-footer>
