<app-navigation></app-navigation>


    <h4 class="text-center mb-5">Nuevo producto!</h4>
    
        <form class="container text-center col-sm-3">

            <div class="mb-1">
                <label for="nombre" class="col-form-label">Nombre:</label>
                <input type="text" class="form-control col-sm-3 border border-primary-subtle" name="nombre" [(ngModel)]="admin.name">
            </div>

            <div class="mb-1">
                <label for="descripción" class="col-form-label">Descripción:</label>
                <input type="text" class="form-control border border-primary-subtle" name="descripción" [(ngModel)]="admin.description" >
            </div>

            <div class="mb-1">
                <label for="color" class="col-form-label">Color:</label>
                <input type="text" class="form-control border border-primary-subtle" name="text" [(ngModel)]="admin.color">
            </div>

            <div class="mb-1">
                
                <label for="apellido" class="col-form-label">Clasificación:</label>
                <!--
                <select class="form-select border border-primary-subtle" aria-label="Default select example">
                    <option selected></option>
                    <option value="1">Pulsera</option>
                    <option value="2">Anillo</option>
                    <option value="3">Collar</option>
                    <option value="4">Arete</option>
                  </select>-->
                
                <input type="text" class="form-control border border-primary-subtle" name="apellido" [(ngModel)]="admin.classification">
            </div>

            <div class="mb-1">
                <label for="apellido" class="col-form-label">Material:</label>

                <!--
                <select class="form-select border border-primary-subtle" aria-label="Default select example">
                    <option selected></option>
                    <option value="1">Acero</option>
                    <option value="2">Fantasía</option>
                </select>-->

                <input type="text" class="form-control border border-primary-subtle" name="apellido" [(ngModel)]="admin.material">
            </div>

            <div class="mb-1">
                <label for="Medidas" class="col-form-label">Medidas:</label>
                <input type="text" class="form-control border border-primary-subtle" name="medidas" [(ngModel)]="admin.measure" >
            </div>

            <div class="mb-1">
                <label for="precio" class="col-form-label">Precio:</label>
                <input type="text" class="form-control border border-primary-subtle" name="precio" [(ngModel)]="admin.price">
            </div>
            <br>

            <button type="button" class="btn btn-outline-success" (click)="create()" *ngIf="!admin.id else elseBlock">Crear</button> <!--si no tiene id muestra esto si no muestra elseBlock-->
            
            <br>
            <br>

            <ng-template #elseBlock>
                <button type="button" class="btn btn-outline-success" (click)="update()">Actualizar</button>
            </ng-template>
            
            <button class="btn border" role="button" [routerLink]="['/Admin']">Regresar</button>

        </form>

        <app-footer></app-footer>

        <br>

        



