<div class="p-1 mb-2 bg-dark-subtle text-emphasis-dark">
</div>

<h1 class="text-center fs-4 ">Zaria Accesories</h1>

<nav class="nav justify-content-center bg-gray-300">
  <a class="nav-link text-black" routerLink="/" aria-current="page" href="#">Home</a>
  <a class="nav-link text-black" routerLink="/contact" href="#">Contact</a>
  <a class="nav-link text-black" href="#">Blog</a>
  <a class="nav-link text-black" routerLink="admin" href="#">Admin</a>
  <a class="nav-link text-black" href="#">Login</a>
</nav>